<main>
  <header *ngIf="!onPlay">
    <img class="logo" src="assets/missmister.png" alt="">
  </header>
  <div class="thegamediv">
    <img class="thegame" src="assets/thegame.png" alt="">
  </div>
  <div class="PLAYNOW" *ngIf="!onPlay">
		<button class="pixel" (click)="onPlayChange()">GIOCA ORA</button>
  </div>
  <div class="PLAYNOW" style="color: white" *ngIf="loading">
    <div style="width: 50px; height: 50px;" class="spinner-border" role="status">
    </div>
  </div>
  <div class="GAME" *ngIf="onPlay && !loading && cardsShown">
    <!-- CARD -->
    <div id="firstCard" class="card fadeFromRight">
      <a (click)="selectOne()">
        <img class="card-img-top" src="https://www.ilpiccolo.net/resizer/433/302/true/2022_11_26/Immagine_2022-11-26_124658-1669463240883.jpg--il_casalese_ettore_pane_alla_guida_della_consulta_provinciale_degli_studenti.jpg?1669463240896" alt="Card image cap">
      </a>
      <div class="card-body">
        <h5 class="card-title">Ettore Pane</h5>
        <!-- INSTAGRAM BUTTON with ICON -->
        <a href="https://www.instagram.com/ettorepane/" target="_blank" class="btn btn-primary" style="color: black; background-color: white; border: none;">
          <img src="https://cortex.persona.co/w/299/i/ae69aaeade81bd60e0eb6890649836f35a18cf7cd85c4f6b31aed486a9c64f2f/instagram-pixel-8-bit-logo.png" alt="" style="width: 20px; height: 20px;">
          <span>Instagram</span>
        </a>
      </div>
    </div>
    <div class="or">
      <!-- OPPURE -->
      <p>Oppure</p>
    </div>
    <div id="secondCard" class="card fadeFromLeft">
      <a (click)="selectTwo()">
        <img class="card-img-top" src="https://www.ilpiccolo.net/resizer/433/302/true/2022_11_26/Immagine_2022-11-26_124658-1669463240883.jpg--il_casalese_ettore_pane_alla_guida_della_consulta_provinciale_degli_studenti.jpg?1669463240896" alt="Card image cap">
      </a>
      <div class="card-body">
        <h5 class="card-title">Ettore Pane</h5>
        <!-- INSTAGRAM BUTTON with ICON -->
        <a href="https://www.instagram.com/ettorepane/" target="_blank" class="btn btn-primary" style="color: black; background-color: white; border: none;">
          <img src="https://cortex.persona.co/w/299/i/ae69aaeade81bd60e0eb6890649836f35a18cf7cd85c4f6b31aed486a9c64f2f/instagram-pixel-8-bit-logo.png" alt="" style="width: 20px; height: 20px;">
          <span>Instagram</span>
        </a>
      </div>
    </div>
  </div>

</main>
